<div class="container">
  @if(userService.userData | async; as user){
    <form [formGroup]="form" class="form">
      <mat-label for="name">Nombre</mat-label>
      <input matInput id="name" type="text" placeholder="Nombre" formControlName="name">
      
      <mat-label for="email">Email</mat-label>
      <input matInput id="email" type="text" placeholder="email" formControlName="email">
      
      <mat-label>Tipo de miembro</mat-label>
      <input type="text"
            formControlName="role"
            aria-label="Rol"
            matInput
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of roleOptions; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>

      <mat-label for="telegram">Telegram</mat-label>
      <input matInput id="telegram" type="text" placeholder="Telegram" formControlName="telegram_user">
      
      <div class="location-container">
        <div>
          <mat-label for="lng">Longitud</mat-label>
          <input matInput id="lng" type="number" placeholder="Longitud" formControlName="lng">
        </div>
        <div>
          <mat-label for="lat">Latitud</mat-label>
          <input matInput id="lat" type="number" placeholder="Latitud" formControlName="lat">
        </div>
      </div>
      <button matButton="outlined" (click)="updateUser()">Guardar</button>
    </form>
  
  <mgl-map class="mapa"
        [style]="'mapbox://styles/mapbox/streets-v12'"
        [zoom]="[4]"
        [center]="[-58.3816, -34.6037]"
        (mapClick)="setLocation($event)"
      >
        <mgl-marker
                    [lngLat]="[form.controls['lng'].value, form.controls['lat'].value]"
                  >
                  <!-- <div class="marcadores"></div> -->
                  <div
                    tabindex="0"
                    class="marker"
                    [style]=getStyleString(user?.picture)
                  ></div>
        </mgl-marker>
        <mgl-control mglGeolocate></mgl-control>
        <mgl-control mglNavigation></mgl-control>
        <mgl-control position="top-left">
          <div class="map-info" style="padding:4px; background-color: #c2c2c2;">
            <div>Longitude:&nbsp;{{ coordinates()[0] }}</div>
            <div>Latitude:&nbsp;{{ coordinates()[1] }}</div>
          </div> 
        </mgl-control>
  </mgl-map>
  }
</div>
