<h2>
    Mapa del Clú
</h2>


<mgl-map class="mapa" 
    [style]="'mapbox://styles/mapbox/streets-v12'" [zoom]="9" [center]="{ lat: -34.6037, lng: -58.3816 }"> 
  <mgl-control mglNavigation />
  <mgl-control mglGeolocate />
    <mgl-marker *ngFor="let user of users"
                [lngLat]="user.location"
              >
              <div (click)="openMarkerPopUp(user)" class="marcadores">{{user.marker_label}}</div>
    </mgl-marker>
    <mgl-popup *ngIf="selected"
             [lngLat]="selected.location"
             (close)="closeMarkerPopUp()">
        <h3>{{ selected.first_name }}</h3>
        <p>Telegram: {{ selected.telegram_user }}</p>
    </mgl-popup>
</mgl-map>
