.mapa{
    max-width: 100vw;
    width: 100%;
    height: 70vh;
}

.marcadores{
    width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #52be7acc;
  border: 2px solid #52be7a;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.marcadores.shop{
  background-color: #be5252cc;
  border: 2px solid #be5252;
}
.marcadores.cafe{
  background-color: #b14ac5cc;
  border: 2px solid #b14ac5;
}
.marcadores.influencer{
  background-color: #527dbecc;
  border: 2px solid #527dbe;
}

.marker {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-position: center;
  background-size: contain;
}

.user-alert{
  padding: 0.5rem;
  color: red;
}