<span class="user-alert">{{getUserAlert()}}</span>
@if(userService.userData | async; as user){
  <!-- 
  <mgl-map class="mapa" #mapa
      [style]="'mapbox://styles/mapbox/streets-v12'" [zoom]="9" [center]="{ lat: user.lat ?? 0, lng: user.lng ?? 0 }"> 
    <mgl-control mglNavigation />
    <mgl-control mglGeolocate />
    

      <!-- @for(user of userService.users | async; track user){
        @if(mapa){
          <mgl-marker
                      [lngLat]="[user.lng ?? 0, user.lat ?? 0]"
                    >
                    <div 
                      (click)="openMarkerPopUp(user)" [class]="'marcadores ' + user.role?.toLowerCase()">{{user.name?.charAt(0) ?? ''}}</div>
                    <!-- <div
                      
                      (keydown.enter)="openMarkerPopUp(user)"
                      tabindex="0"
                      class="marker"
                      style="background-image: url(user.picture);"
                    ></div> -->
          <!-- </mgl-marker>
        }
      }
      @if(selected){
        <mgl-popup
                 [lngLat]="[selected.lng ?? 0, selected.lat ?? 0]"
                 (close)="closeMarkerPopUp()">
            <h3>{{ selected.name }}</h3>
            <p>Telegram: {{ selected.telegram_user }}</p>
        </mgl-popup>
      }
  </mgl-map>
  -->
  
  
  
  <mgl-map
  class="mapa"
  [style]="'mapbox://styles/mapbox/streets-v12'"
  [zoom]="[3]"
  [center]="{ lat: user.lat ?? 0, lng: user.lng ?? 0 }"
  >
  <mgl-control mglNavigation />
  <mgl-control mglGeolocate />
  <!-- @let _players = players(); -->
 
  <ng-container *ngIf="location | async as locationJson">
    <mgl-geojson-source
    id="players"
    [data]="locationJson"
    [cluster]="true"
          [clusterMaxZoom]="14"
          [clusterRadius]="50"
        />
          <mgl-markers-for-clusters source="players">
          <ng-template mglClusterPoint let-feature>
            <showcase-cluster-point [properties]="feature.properties" />
          </ng-template>
        </mgl-markers-for-clusters>
          
          <mgl-layer
          id="earthquake_circle"
          type="circle"
          source="players"
          [filter]="['!=', 'cluster', true]"
          [paint]="circlePaint"
        />
            <mgl-layer
          id="earthquake_label"
          type="symbol"
          source="players"
          [filter]="['!=', 'cluster', true]"
          [layout]="labelLayout"
          [paint]="labelPaint"
        />
        </ng-container>
  </mgl-map>
} 
