@if(userService.userData | async; as user){
  <mat-toolbar class="toolbar">
    <!-- <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span (click)="goToMap()" class="title">
      Hello {{user.name}}
    </span>
    <span class="example-spacer"></span>
    <button matIconButton [matMenuTriggerFor]="beforeMenu" aria-label="">
      <!-- <mat-icon>account_circle</mat-icon> -->
        <img class="circle-badge" [src]=user.picture alt="">
    </button>
  </mat-toolbar>
}

<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)=profile()>Profile</button>
  <button mat-menu-item (click)="logout()">
    Log out
  </button>
</mat-menu>

<router-outlet></router-outlet>
